/* arabic */
@font-face {
   font-family: 'Amiri';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(../fonts/arabic_amiri/web/Amiri-400-Arabic.woff2) format('woff2');
   unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F,
      U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}

/* arabic */
@font-face {
   font-family: 'Amiri';
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url(../fonts/arabic_amiri/web/Amiri-700-Arabic.woff2) format('woff2');
   unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F,
      U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}

/* arabic italic */
@font-face {
   font-family: 'Amiri';
   font-style: italic;
   font-weight: 400;
   font-display: swap;
   src: url(../fonts/arabic_amiri/web/Amiri-400-ArabicItalic.woff2) format('woff2');
   unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F,
      U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}

/* arabic italic */
@font-face {
   font-family: 'Amiri';
   font-style: italic;
   font-weight: 700;
   font-display: swap;
   src: url(../fonts/arabic_amiri/web/Amiri-700-ArabicItalic.woff2) format('woff2');
   unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F,
      U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
}
